html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
@font-face {
    font-family: Futura-Bold;
    src: url(fonts/Futura-Bold-font.ttf);
}
@font-face {
    font-family: Futura-Book;
    src: url(fonts/Futura-Book-font.ttf);
}
@font-face {
    font-family: SF-bold;
    src: url(fonts/SFPRODISPLAYBOLD.OTF);
}
@font-face {
    font-family: SF-light;
    src: url(fonts/SFPRODISPLAYLIGHTITALIC.OTF);
}
@font-face {
    font-family: SF-Medium;
    src: url(fonts/SFPRODISPLAYMEDIUM.OTF);
}
.navbar{height: 75px;}
#logo-a{height: 75px; width: 200px;}
#logo-a img{height: 45px; width: 150px;}
.navbar-nav a{font-family: Futura-Book; font-size: 20px; margin: 0px 40px;}
#carouselExampleInterval{margin-top: 75px; height: 600px;}
.carousel-inner, .carousel-item, #Img1, #Img2, #Img3, #Img4{height: 600px;}
#pathImg{margin: 170px 220px;}
section{margin: 200px 260px;}
section h4{font-family: SF-bold;}
section h1{font-family: Futura-Bold;}
section h3{font-family: Futura-Book;}
#col-div1 p, #con1 p{font-family: Futura-Book; font-size: 18px;}
#DPro{margin-top: 200px;}
#DPro img{height: 450px;}
#con1{margin-top: 150px;}
#sub-con{background-color: #EEEEEE;}
#sub-con .row{background-image: url(images/Mask-Group-1.png);border-radius: 40px;background-repeat: no-repeat;}
#copyR{background-color: black;}
#hr-line{height: 5px;}
@media only screen and (max-width:700px){
    #Join-btn{display: none;}
}
@media only screen and (max-width:380px){
    #pathImg, #sec-Tagline{display: none;}
}
@media only screen and (max-width:992px){
    .navbar{margin-top: -8px;height: 82px;}
}